@import 'header';

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    min-width: 1280px;
    margin: 0 auto;
}



/* Slider  */
//  .slider {
//     content: "";
//     display: inline-block;
//     width: 1923px;
//     height: 679px;
//     background-image:url("/img/slider/slide.png");
//     background-color: khaki;
//     background-size: initial;
//     background-repeat: no-repeat;
// }

// .slider:: {
//     content: "";
//     display: inline-block;
//     vertical-align: sub;
//     width: 22px;
//     height: 22px;
//     margin-right: 7px;
//     background-color: rgb(0, 255, 21);
//     background-image: url('/img/icons/cart.png');
//     background-repeat: no-repeat;
//     background-size: initial; */

